body{
    font-family:verdana, sans-serif;
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgb(22,15,47);
    background: linear-gradient(0deg, rgba(22,15,47,1) 0%, rgba(48,22,69,1) 47%, rgba(97,34,111,1) 100%);
    background-attachment: fixed;
}


#divmain{
    border: solid 2px green;
    border-radius: 8px;
    background-color: #e8e5dc;
}

#table{
    border: solid 2px red;
    border-radius: 4px;
    height: 200px;
}

table{
    width: 100%;
}

td{
    width: 25%;
}

#imgPres{
    float: left;
}

#theConseil{
    float: right;
    font-size: 40px;
}

#voirConseil{
    margin-bottom: 10px;
}

p, input, h2 {
    text-align: center;
}

input[type=Button] {
    margin: 0 25%;
    width: 50%;
}

h2 {
    margin: 5px 0;
}

ul > li {
    margin-left: 4%;
    margin-top: 2%;
    font-size: large;
}