/* fahrenheit451 update */
html,
body,
* {
    font-family: "Raleway";
}
.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgb(22,15,47);
    background: linear-gradient(0deg, rgba(22,15,47,1) 0%, rgba(48,22,69,1) 47%, rgba(97,34,111,1) 100%);
    background-attachment: fixed;
}
.header--title {
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.header--h1 {
    letter-spacing: 0.1em;
    font-size: 4em;
    color: #D3BCE1;
    font-weight: 600;
}
.header--h1 .strong {
    color: white;
    font-weight: 700;
    font-size: 1.9em;
}
.header--h2 {
    letter-spacing: 0.2em;
    font-size: 1.6em;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
}
.nav--hamburger {
    position: fixed;
    margin: 20px;
    z-index: 100000;
}
.nav--hamburger .hamburger-inner,
.nav--hamburger .hamburger-inner:before,
.nav--hamburger .hamburger-inner:after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after {
    background-color: #fff;
    width: 40px;
    height: 4px;
}
.nav--full-screen {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100vh;
    background-color: black;
    opacity: 80%;
    z-index: 10000;
    transition: ease-in-out all 0.8s
}
.nav--full-screen.is-active {
    left: 0%;
}
.nav--list,
.nav--list-item,
.nav--link {
    display: block;
    margin: 0;
    padding: 0;
    min-width: 100px;
}
.nav--link {
    font-family: "Raleway";
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: ease-in-out all 0.5s;
    padding: 30px 30px;
    color: #D3BCE1;
    text-decoration: none;
}
.nav--link:hover {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: white;
}
.footer--link,
.footer--img {
    width: 100%;
}
.footer--img {
    filter: grayscale(100%);
    transition: ease-in-out all 0.5s;
}
.footer--img:hover {
    filter: grayscale(0%);
}

.project__scroll {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 90vh;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: solid 2px white;
    width: 30px;
    height: 45px;
    border-radius: 9px;
    }
.project__scrollLine {
    z-index: 1;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
    left: 50%;
    position: relative;
    top: 5px;
    transform: translateX(-50%);
    animation: scroll 2s infinite;
  }
@keyframes scroll{
    0% {top: 5px;}
    40% {top: 10px;}
    100% {top: 5px;}
  }

::-webkit-scrollbar {
    width: 12px;
  }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #5F226D;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

::selection {
      background: #00000087;
      color: #5F226D;
  }
::-moz-selection {
      background: #00000087;
      color: #5F226D;
  }
/* fahrenheit451 update */

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
body > div {
    box-shadow: -10px 10px 20px #A0A0A0;
    border: solid 1px #A0A0A0;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    height: 500px;
    width: 700px;
    background-color: beige;
    padding: 10px;
}
#content h2, #content h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#content h2 {
    top: -35px;
    left: -1px;
}
#content h3 {
    right: -11px;
    top: -28px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
#content main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#content main .mp {
    color: darkblue;
}
#content main .moi {
    color: green;
}
#content main .system {
    color: red;
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}

/** Pied de zone de chat */
#content footer {
    position: absolute;
    bottom: 0;
    padding: 0px;
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
#content footer input {
    height: 22px;
    font-size: 15px;
}
#content > footer input:first-child {
    width: calc(100% - 250px);
    font-size: 12px;
}
#content > footer input:last-child {
    float: right;
}

#content aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
}

/**
 * Style pour les émoticones
 */
.emoji {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/emoji.png");
    background-size: 72px 72px;
}
.rire {
    background-position: -4px -4px;
}
.zzz {
    background-position: -28px -4px;
}
.love {
    background-position: -52px -4px;
}
.holala {
    background-position: -4px -28px;
}
.grrr {
    background-position: -28px -28px;
}
.triste {
    background-position: -52px -28px;
}
.sourire {
    background-position: -4px -52px;
}
.banane {
    background-position: -28px -52px;
}
.malade {
    background-position: -52px -52px;
}


body > div, body > input[type=radio] {
    display: none;
}

input[type=radio]:checked + div {
    display: block;
}


#logScreen {
    background: rgba(200, 200, 200, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}
#logScreen input, #bcImages input {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}

#bcImage {
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}
#bcImage input[type=text] {
    margin: 10px;
    width: calc(100% - 120px);
}
#bcImage #btnFermer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#bcImage #bcResults {
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
}
#bcImage #bcResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
#bcResults img {
    width: 190px;
    margin: 2px;
    height: auto;
    cursor: pointer;
    align-self: center;
}

#imageMine{
    width: 20%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-position: top;
}
#jeancloud{
    width: 20%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}


#imageJean{
    width: 13%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#e{
    font-size: 400px;
    color: red;
    text-align: center;
}

#a{
    text-align: center;
}

#c{
    text-align: center;
}
